<%= render layout: "devise/shared/auth_layout", locals: { title: "Resend confirmation", subtitle: "We'll send you the confirmation instructions again" } do %>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="space-y-4">
      <%= render InputComponent.new(form: f, field: :email, type: :email, label: "Email address", required: true, autofocus: true, autocomplete: "email") %>

      <%= render ButtonComponent.new(variant: :primary, submit: true, class: "w-full justify-center") do %>
        Resend confirmation instructions
      <% end %>
    </div>
  <% end %>
<% end %>
