<div class="space-y-6">
  <%= render PageHeaderComponent.new(title: "Categories") do |header| %>
    <% header.with_actions do %>
      <%= render ButtonComponent.new(variant: :primary, href: new_category_path, icon: "plus") do %>
        New Category
      <% end %>
    <% end %>
  <% end %>

  <% %w[income expense].each do |type| %>
    <% cats = @categories.select { |c| c.category_type == type } %>
    <% if cats.any? %>
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <h2 class="text-xl font-semibold text-text-primary"><%= type.humanize %> Categories</h2>
        <% end %>
        <div class="divide-y divide-border">
          <% cats.each do |category| %>
            <div class="py-3 flex justify-between items-center">
              <div class="flex items-center space-x-3">
                <% if category.color.present? %>
                  <span class="w-4 h-4 rounded-full shrink-0" style="background-color: <%= category.color %>"></span>
                <% end %>
                <span class="font-medium text-text-primary"><%= category.name %></span>
              </div>
              <div class="flex items-center space-x-2">
                <%= render ButtonComponent.new(variant: :ghost, size: :sm, href: edit_category_path(category)) do %>
                  Edit
                <% end %>
                <%= render ButtonComponent.new(variant: :danger, size: :sm, href: category_path(category), method: :delete, confirm: "Are you sure?") do %>
                  Delete
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
